<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!-- 1. Rule for Maintenance Mode (Highest Priority) -->
        <rule name="MaintenanceMode" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}app_offline.htm" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="app_offline.htm" />
        </rule>

        <!-- 2. NextJS Reverse Proxy with Server Variables -->
        <rule name="NextJS Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^(https?://)" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:5000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
  </system.webServer>
</configuration>
